# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# vim
*.swp

.eslintcache

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

dist/

test-results
.scannerwork
__snapshots__
coverage/

tsconfig.tsbuildinfo

.env
